prometheus.exe
promtool.exe
*.tfstate
*.tfstate.backup
.terraform.tfstate.lock.info
.terraform/
!infra/terraform/01-terraformState/terraform.tfstate*
venv/
__pycache__
src/gatewayService/observability/prometheus/prometheus-2.41.0.windows-amd64/