
*.tfstate
*.tfstate.backup
.terraform.tfstate.lock.info
.terraform/

!infra/terraform/01-terraformState/terraform.tfstate*

./src/authService/venv
./src/converterService/venv
./src/gatewayService/venv